.addTweet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}

.addTweet form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    max-width: 24rem;
    margin: auto;
}

.addTweet form label {
    color: #687684;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.addTweet form textarea {
    border: 1px solid #687684;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #E7ECF0;
    width: 100%;
    max-width: 24rem;
    margin: auto;
    height: 60vh;
}

.addTweet form button {
    margin-top: 1rem;
    border-radius: 1rem;
    border : none;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.back-button {

    padding: 1rem;
}